/*** body style ***/
body {
    background-color: black;
    color: white;
    font-family: 'Orbitron', sans-serif;
}

/* Matrix background */
canvas {
    position: absolute;
    display:block;
    left: 0px;
    top: 0px;
    z-index: -1;
}


/*** Style for container ***/
.container {
    margin-bottom: 15px;
    background-color: rgba(136, 136, 136, 0.048);
    padding: 20px;
    width: 100%;
}

/*** Morpheus image ***/
.morpheus {
    display: block;
    margin-left: auto;
    margin-right: auto;
    width: 87%;
    
}

/*** Slider style ***/
.slider {
    width: 100%;
    -webkit-appearance: none;
    height: 15px;
    border-radius: 5px;
    background: lightslategray;
    outline: none;
    opacity: 0.7;
}
  
.slider:hover {
    opacity: 1;
}
  
.slider::-webkit-slider-thumb {
    -webkit-appearance: none;
    appearance: none;
    width: 25px;
    height: 25px;
    border-radius: 50%;
    background:purple;
    cursor: pointer;
}

/*** button style ***/
.col {
    padding: 0;
    text-align: center;
    
}

/*button to the right */
#bBtn {
    border-radius: 70%;
    background: blue;
    color: blue;
    opacity: 60%;
    cursor: pointer;
}

#bBtn:hover {
    color: white;
}

/*button to the middle */
#pBtn {
    border-radius: 70%;
    background: black;
    color: black;
    opacity: 60%;
    cursor: pointer;
}

#pBtn:hover {
    background: purple;
    color: white;
}

/*button to the left */
#rBtn {
    border-radius: 70%;
    background: red;
    color: red;
    opacity: 60%;
    cursor: pointer;
}

#rBtn:hover {
    color: white;
}